{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title%}

{% block content %}
<div class="col-12">
    <h1>About Me</h1>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <p class="lead">
                Coucou
            </p>
            <p>
                This page is about me
            </p>
            
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/profile.png' %}" class="img-fluid" alt="">

        </div>
    </div>

</div>
{% endblock content %}
